# crawler
USER_AGENT_DEFAULT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36

# Redis
REDIS_HOST=172.16.36.111
REDIS_PORT=6379
REDIS_BLOOM_FILTER=divar_tokens

# Kafka
KAFKA_BOOTSTRAP_SERVERS=172.16.36.111:9092
KAFKA_TOPIC=divar_tokens

# MongoDB
MONGO_URI=mongodb://appuser:appassword@172.16.36.111:27017/delta-datasets
MONGO_DB=delta-datasets
MONGO_COLLECTION=divar-dataset

